.form{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.form form{
    max-width: 80%;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 36px 64px;
}

.amount-people{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
